<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome.</h1>
     
 
 
<p> currently {{  cycle_data }}</p>
<p>current free washing machine is {{ free_mac }}</p>

<form action="/sending">
    <label for="recipient">First name:</label><br>
    <input type="text" id="recipient" name="sending"><br>
  </form> 
 
 
 
    
</body>
</html>